@import './_variables.scss';

@font-face {
  font-family: $mainFont;
  src: url('../fonts/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $mainFont;
  src: url('../fonts/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: $mainFont;
  src: url('../fonts/Rubik-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $mainFont;
  src: url('../fonts/Rubik-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}