@import './_variables.scss';

.main-header {
  position: relative;
  background-image: url('../img/bg_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  text-transform: uppercase;

  .top-bar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    background-color: rgba($color: $secondColor, $alpha: 0.9);
    font-weight: 600;

    ul {
      display: flex;
      flex-direction: row;
    }
  }

  h1 {
    font-size: 1.6rem;
    color: #000;

    span {
      color: $mainColor;
    }
  }

  .header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    top: 50%;
    left: 15%;

    p {
      color: $secondColor;
      font-size: 1.2rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      margin-top: 15px;

      a {
        display: block;
        background-color: $mainColor;
        color: $secondColor;
        padding: 20px 30px;
        margin-right: 15px;
        text-align: center;
        transition: all .4s;

        &:hover {
          color: $mainColor;
          background-color: $secondColor;
        }
      }
    } // ul

  }
  
}